<form>
<div class="container-fluid">
    <div class="card bg-dark text-white">
      <h5 class="card-header">Fecha</h5>
      <div class="card-body">
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                   
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" 
                          placeholder="seleccione una fecha" name="dateFormat" [ngModel]="this.dateFormat" (ngModelChange)="onChange($event)" >
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>


                  </div>
            </div>
  
      </div>
    </div>
  </div>
</div>

</form>