
    
     <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                    Porcentaje de trades
            </a>
          </div>
          <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                        <div class="d-flex justify-content-center" *ngIf="this.progressVisible">
                          <mat-progress-spinner style="width: 30px;  height: 30px;" 
                              class="example-margin"
                              [color]="color"
                              [mode]="mode">
                          </mat-progress-spinner>
                      </div>
                          <div style="display: block;" *ngIf="!this.progressVisible">
                              <canvas baseChart
                                      [data]="this.pieChartData"
                                      [labels]="this.pieChartLabels"
                                      [chartType]="this.pieChartType"
                                      (chartHover)="chartHovered($event)"
                                      (chartClick)="chartClicked($event)"></canvas>
                            </div>
                </div>
          </div>
    
   
   

      
